In [1]:
# Author - Sebastian Jarosz
# Student Nr - 78797

import numpy as np
import pandas as pd


# Zadanie nr 3 - START

# Part 1.	Wybrać trzy odrębne zbiory danych.
df_one = pd.read_csv('https://raw.githubusercontent.com/vaksakalli/datasets/master/airline_passenger_satisfaction.csv')
df_two = pd.read_csv('https://raw.githubusercontent.com/vaksakalli/datasets/master/melbourne_house_prices.csv')
df_three = pd.read_csv('https://raw.githubusercontent.com/vaksakalli/datasets/master/speed_dating.csv')

# Part 2.	Dla każdego zbioru danych podać wartości statystyczne dla wybranych 3 kolumn (jeżeli takie występują).

print('Ponizsze wartości mogą równiez zostać wydobyte za pomocą funkcji takich jak max(), min(), mean() itp.')

print('--------------------------------')
# airline_passenger_satisfaction.csv
print('Zbiór airline_passenger_satisfaction.csv')
print("Kolumna 'age'")
print(df_one['age'].describe())
print("Kolumna 'flight_distance'")
print(df_one['flight_distance'].describe())
print("Kolumna 'departure_delay_in_minutes'")
print(df_one['departure_delay_in_minutes'].describe())

print('--------------------------------')
# melbourne_house_prices.csv
print('Zbiór melbourne_house_prices.csv')
print("Kolumna 'BuildingArea'")
print(df_two['BuildingArea'].describe())
print("Kolumna 'Distance'")
print(df_two['Distance'].describe())
print("Kolumna 'Price'")
print(df_two['Price'].describe())

print('--------------------------------')
# speed_dating.csv
print('Zbiór speed_dating.csv')
print("Kolumna 'age'")
print(df_three['age'].describe())
print("Kolumna 'age_o'")
print(df_three['age_o'].describe())
print("Kolumna 'd_age'")
print(df_three['d_age'].describe())

# Part 3.	Dla każdego zbioru wybrać co najmniej 3 kolumny, dla których przeprowadzone zostanie grupowanie. Dla każdej z grup wykonać:
# a)	Wypisać wartość minimalną pierwszego kwartyla dla wybranych dwóch kolumn spoza grupy.
# b)	Wypisać wartość maksymalną drugiego kwartyla dla wybranych dwóch kolumn spoza grupy.
# c)	Wypisać wartość średnią trzeciego kwartyla dla wybranych dwóch kolumn spoza grupy.
# d)    Wypisać wariancję z czwartego kwartyla dla wybranych dwóch kolumn spoza grupy

print('--------------------------------')
# airline_passenger_satisfaction.csv
print('Zbiór airline_passenger_satisfaction.csv')
print("Grupowanie po 'Gender', 'type_of_travel', 'customer_class' - Kolumny 'flight_distance', 'age'")
group_one = df_one.groupby(['Gender', 'type_of_travel', 'customer_class'])[['flight_distance', 'age']]

print("---Pierwszy kwartyl---")
group_one_q1 = group_one.agg(lambda x: np.quantile(x, q=0.25))
# print(group_one_q1)
print("Wartość minimalna pierwszego kwartyla dla kolumn 'flight_distance', 'age':")
print(group_one_q1.min())

print("---Drugi kwartyl---")
group_one_q2 = group_one.agg(lambda x: np.quantile(x, q=0.50))
# print(group_one_q2)
print("Wartość maksymalna drugiego kwartyla dla kolumn 'flight_distance', 'age':")
print(group_one_q2.max())

print("---Trzeci kwartyl---")
group_one_q3 = group_one.agg(lambda x: np.quantile(x, q=0.75))
# print(group_one_q3)
print("Wartość średnia trzeciego kwartyla dla kolumn 'flight_distance', 'age':")
print(group_one_q3.mean())

print("---Czwarty kwartyl---")
group_one_q4 = group_one.agg(lambda x: np.quantile(x, q=1))
# print(group_one_q4)
print("Wariancja czwartego kwartyla dla kolumn 'flight_distance', 'age':")
print(group_one_q4.var())

print('--------------------------------')
# melbourne_house_prices.csv
print('Zbiór melbourne_house_prices.csv')
print("Grupowanie po 'Suburb', 'SellerG', 'Regionname' - Kolumny 'BuildingArea', 'Price'")
group_two = df_two.groupby(['Suburb', 'SellerG', 'Regionname'])[['BuildingArea', 'Price']]

print("---Pierwszy kwartyl---")
group_two_q1 = group_two.agg(lambda x: np.quantile(x, q=0.25))
# print(group_two_q1)
print("Wartość minimalna pierwszego kwartyla dla kolumn 'BuildingArea', 'Price':")
print(group_two_q1.min())

print("---Drugi kwartyl---")
group_two_q2 = group_two.agg(lambda x: np.quantile(x, q=0.50))
# print(group_two_q2)
print("Wartość maksymalna drugiego kwartyla dla kolumn 'BuildingArea', 'Price':")
print(group_two_q2.max())

print("---Trzeci kwartyl---")
group_two_q3 = group_two.agg(lambda x: np.quantile(x, q=0.75))
# print(group_two_q3)
print("Wartość średnia trzeciego kwartyla dla kolumn 'BuildingArea', 'Price':")
print(group_two_q3.mean())

print("---Czwarty kwartyl---")
group_two_q4 = group_two.agg(lambda x: np.quantile(x, q=1))
# print(group_two_q4)
print("Wariancja czwartego kwartyla dla kolumn 'BuildingArea', 'Price':")
print(group_two_q4.var())


print('--------------------------------')
# speed_dating.csv
print('Zbiór speed_dating.csv')
print("Grupowanie po 'gender', 'race', 'field' - Kolumny 'pref_o_attractive', 'pref_o_intelligence'")
group_three = df_three.groupby(['gender', 'race', 'field'])[['pref_o_attractive', 'pref_o_intelligence']]

print("---Pierwszy kwartyl---")
group_three_q1 = group_three.agg(lambda x: np.quantile(x, q=0.25))
# print(group_three_q1)
print("Wartość minimalna pierwszego kwartyla dla kolumn 'pref_o_attractive', 'pref_o_intelligence':")
print(group_three_q1.min())

print("---Drugi kwartyl---")
group_three_q2 = group_three.agg(lambda x: np.quantile(x, q=0.50))
# print(group_three_q2)
print("Wartość maksymalna drugiego kwartyla dla kolumn 'pref_o_attractive', 'pref_o_intelligence':")
print(group_three_q2.max())

print("---Trzeci kwartyl---")
group_three_q3 = group_three.agg(lambda x: np.quantile(x, q=0.75))
# print(group_three_q3)
print("Wartość średnia trzeciego kwartyla dla kolumn 'pref_o_attractive', 'pref_o_intelligence':")
print(group_three_q3.mean())

print("---Czwarty kwartyl---")
group_three_q4 = group_three.agg(lambda x: np.quantile(x, q=1))
# print(group_three_q4)
print("Wariancja czwartego kwartyla dla kolumn 'pref_o_attractive', 'pref_o_intelligence':")
print(group_three_q4.var())

# Part 5. Dla każdego zbioru wybrać dwie kolumny, dla których przeprowadzone zostanie grupowanie. Wypisać wszystkie wartości wewnątrz grupy oraz ilość elementów wewnątrz grupy.

print('--------------------------------')
# airline_passenger_satisfaction.csv
print('Zbiór airline_passenger_satisfaction.csv')
print("Grupowanie po 'Gender', 'type_of_travel'")
print(df_one.groupby(['Gender', 'type_of_travel']).count())


print('--------------------------------')
# melbourne_house_prices.csv
print('Zbiór melbourne_house_prices.csv')
print("Grupowanie po 'Suburb', 'Regionname'")
print(df_two.groupby(['Suburb', 'Regionname']).count())

print('--------------------------------')
# speed_dating.csv
print('Zbiór speed_dating.csv')
print("Grupowanie po 'gender', 'field'")
print(df_three.groupby(['gender', 'field']).count())

Ponizsze wartości mogą równiez zostać wydobyte za pomocą funkcji takich jak max(), min(), mean() itp.
--------------------------------
Zbiór airline_passenger_satisfaction.csv
Kolumna 'age'
count    129880.000000
mean         39.427957
std          15.119360
min           7.000000
25%          27.000000
50%          40.000000
75%          51.000000
max          85.000000
Name: age, dtype: float64
Kolumna 'flight_distance'
count    129880.000000
mean       1190.316392
std         997.452477
min          31.000000
25%         414.000000
50%         844.000000
75%        1744.000000
max        4983.000000
Name: flight_distance, dtype: float64
Kolumna 'departure_delay_in_minutes'
count    129880.000000
mean         14.713713
std          38.071126
min           0.000000
25%           0.000000
50%           0.000000
75%          12.000000
max        1592.000000
Name: departure_delay_in_minutes, dtype: float64
--------------------------------
Zbiór melbourne_house_prices.csv
Kolumna 'BuildingArea'
count     7130.000000
mean       151.967650
std        541.014538
min          0.000000
25%         93.000000
50%        126.000000
75%        174.000000
max      44515.000000
Name: BuildingArea, dtype: float64
Kolumna 'Distance'
count    13580.000000
mean        10.137776
std          5.868725
min          0.000000
25%          6.100000
50%          9.200000
75%         13.000000
max         48.100000
Name: Distance, dtype: float64
Kolumna 'Price'
count    1.358000e+04
mean     1.075684e+06
std      6.393107e+05
min      8.500000e+04
25%      6.500000e+05
50%      9.030000e+05
75%      1.330000e+06
max      9.000000e+06
Name: Price, dtype: float64
--------------------------------
Zbiór speed_dating.csv
Kolumna 'age'
count    8283.000000
mean       26.358928
std         3.566763
min        18.000000
25%        24.000000
50%        26.000000
75%        28.000000
max        55.000000
Name: age, dtype: float64
Kolumna 'age_o'
count    8274.000000
mean       26.364999
std         3.563648
min        18.000000
25%        24.000000
50%        26.000000
75%        28.000000
max        55.000000
Name: age_o, dtype: float64
Kolumna 'd_age'
count    8378.000000
mean        4.185605
std         4.596171
min         0.000000
25%         1.000000
50%         3.000000
75%         5.000000
max        37.000000
Name: d_age, dtype: float64
--------------------------------
Zbiór airline_passenger_satisfaction.csv
Grupowanie po 'Gender', 'type_of_travel', 'customer_class' - Kolumny 'flight_distance', 'age'
---Pierwszy kwartyl---
Wartość minimalna pierwszego kwartyla dla kolumn 'flight_distance', 'age':
flight_distance    325.0
age                 22.0
dtype: float64
---Drugi kwartyl---
Wartość maksymalna drugiego kwartyla dla kolumn 'flight_distance', 'age':
flight_distance    1635.0
age                  42.0
dtype: float64
---Trzeci kwartyl---
Wartość średnia trzeciego kwartyla dla kolumn 'flight_distance', 'age':
flight_distance    1261.312500
age                  51.416667
dtype: float64
---Czwarty kwartyl---
Wariancja czwartego kwartyla dla kolumn 'flight_distance', 'age':
flight_distance    20035.113636
age                   61.363636
dtype: float64
--------------------------------
Zbiór melbourne_house_prices.csv
Grupowanie po 'Suburb', 'SellerG', 'Regionname' - Kolumny 'BuildingArea', 'Price'
---Pierwszy kwartyl---
Wartość minimalna pierwszego kwartyla dla kolumn 'BuildingArea', 'Price':
BuildingArea         0.0
Price           131000.0
dtype: float64
---Drugi kwartyl---
Wartość maksymalna drugiego kwartyla dla kolumn 'BuildingArea', 'Price':
BuildingArea      44515.0
Price           9000000.0
dtype: float64
---Trzeci kwartyl---
Wartość średnia trzeciego kwartyla dla kolumn 'BuildingArea', 'Price':
BuildingArea    1.999812e+02
Price           1.051341e+06
dtype: float64
---Czwarty kwartyl---
Wariancja czwartego kwartyla dla kolumn 'BuildingArea', 'Price':
BuildingArea    2.343464e+06
Price           7.083277e+11
dtype: float64
--------------------------------
Zbiór speed_dating.csv
Grupowanie po 'gender', 'race', 'field' - Kolumny 'pref_o_attractive', 'pref_o_intelligence'
---Pierwszy kwartyl---
Wartość minimalna pierwszego kwartyla dla kolumn 'pref_o_attractive', 'pref_o_intelligence':
pref_o_attractive      10.00
pref_o_intelligence     6.25
dtype: float64
---Drugi kwartyl---
Wartość maksymalna drugiego kwartyla dla kolumn 'pref_o_attractive', 'pref_o_intelligence':
pref_o_attractive      40.0
pref_o_intelligence    25.0
dtype: float64
---Trzeci kwartyl---
Wartość średnia trzeciego kwartyla dla kolumn 'pref_o_attractive', 'pref_o_intelligence':
pref_o_attractive      25.556044
pref_o_intelligence    22.266379
dtype: float64
---Czwarty kwartyl---
Wariancja czwartego kwartyla dla kolumn 'pref_o_attractive', 'pref_o_intelligence':
pref_o_attractive      526.511409
pref_o_intelligence     64.784424
dtype: float64
--------------------------------
Zbiór airline_passenger_satisfaction.csv
Grupowanie po 'Gender', 'type_of_travel'
                        customer_type    age  customer_class  flight_distance  \
Gender type_of_travel
Female Business travel          45794  45794           45794            45794
       Personal Travel          20105  20105           20105            20105
Male   Business travel          43899  43899           43899            43899
       Personal Travel          20082  20082           20082            20082

                        inflight_wifi_service  \
Gender type_of_travel
Female Business travel                  45794
       Personal Travel                  20105
Male   Business travel                  43899
       Personal Travel                  20082

                        departure_arrival_time_convenient  \
Gender type_of_travel
Female Business travel                              45794
       Personal Travel                              20105
Male   Business travel                              43899
       Personal Travel                              20082

                        ease_of_online_booking  gate_location  food_and_drink  \
Gender type_of_travel
Female Business travel                   45794          45794           45794
       Personal Travel                   20105          20105           20105
Male   Business travel                   43899          43899           43899
       Personal Travel                   20082          20082           20082

                        online_boarding  ...  inflight_entertainment  \
Gender type_of_travel                    ...
Female Business travel            45794  ...                   45794
       Personal Travel            20105  ...                   20105
Male   Business travel            43899  ...                   43899
       Personal Travel            20082  ...                   20082

                        onboard_service  leg_room_service  baggage_handling  \
Gender type_of_travel
Female Business travel            45794             45794             45794
       Personal Travel            20105             20105             20105
Male   Business travel            43899             43899             43899
       Personal Travel            20082             20082             20082

                        checkin_service  inflight_service  cleanliness  \
Gender type_of_travel
Female Business travel            45794             45794        45794
       Personal Travel            20105             20105        20105
Male   Business travel            43899             43899        43899
       Personal Travel            20082             20082        20082

                        departure_delay_in_minutes  arrival_delay_in_minutes  \
Gender type_of_travel
Female Business travel                       45794                     45661
       Personal Travel                       20105                     20042
Male   Business travel                       43899                     43784
       Personal Travel                       20082                     20000

                        satisfaction
Gender type_of_travel
Female Business travel         45794
       Personal Travel         20105
Male   Business travel         43899
       Personal Travel         20082

[4 rows x 21 columns]
--------------------------------
Zbiór melbourne_house_prices.csv
Grupowanie po 'Suburb', 'Regionname'
                                    Date  Rooms  Type  Method  SellerG  \
Suburb       Regionname
Abbotsford   Northern Metropolitan    56     56    56      56       56
Aberfeldie   Western Metropolitan     44     44    44      44       44
Airport West Western Metropolitan     67     67    67      67       67
Albanvale    Western Metropolitan      6      6     6       6        6
Albert Park  Southern Metropolitan    69     69    69      69       69
...                                  ...    ...   ...     ...      ...
Wonga Park   Eastern Victoria          1      1     1       1        1
Wyndham Vale Western Metropolitan      4      4     4       4        4
Yallambie    Northern Metropolitan    24     24    24      24       24
Yarra Glen   Northern Victoria         1      1     1       1        1
Yarraville   Western Metropolitan    164    164   164     164      164

                                    Distance  Postcode  Bedroom2  Bathroom  \
Suburb       Regionname
Abbotsford   Northern Metropolitan        56        56        56        56
Aberfeldie   Western Metropolitan         44        44        44        44
Airport West Western Metropolitan         67        67        67        67
Albanvale    Western Metropolitan          6         6         6         6
Albert Park  Southern Metropolitan        69        69        69        69
...                                      ...       ...       ...       ...
Wonga Park   Eastern Victoria              1         1         1         1
Wyndham Vale Western Metropolitan          4         4         4         4
Yallambie    Northern Metropolitan        24        24        24        24
Yarra Glen   Northern Victoria             1         1         1         1
Yarraville   Western Metropolitan        164       164       164       164

                                    Car  Landsize  BuildingArea  YearBuilt  \
Suburb       Regionname
Abbotsford   Northern Metropolitan   56        56            39         38
Aberfeldie   Western Metropolitan    44        44            25         30
Airport West Western Metropolitan    67        67            38         42
Albanvale    Western Metropolitan     6         6             2          2
Albert Park  Southern Metropolitan   66        69            34         37
...                                 ...       ...           ...        ...
Wonga Park   Eastern Victoria         1         1             1          0
Wyndham Vale Western Metropolitan     4         4             4          3
Yallambie    Northern Metropolitan   24        24            15         17
Yarra Glen   Northern Victoria        1         1             1          1
Yarraville   Western Metropolitan   162       164            98        111

                                    CouncilArea  Lattitude  Longtitude  \
Suburb       Regionname
Abbotsford   Northern Metropolitan           55         56          56
Aberfeldie   Western Metropolitan            40         44          44
Airport West Western Metropolitan            61         67          67
Albanvale    Western Metropolitan             4          6           6
Albert Park  Southern Metropolitan           64         69          69
...                                         ...        ...         ...
Wonga Park   Eastern Victoria                 1          1           1
Wyndham Vale Western Metropolitan             3          4           4
Yallambie    Northern Metropolitan           23         24          24
Yarra Glen   Northern Victoria                1          1           1
Yarraville   Western Metropolitan           154        164         164

                                    Propertycount  Price
Suburb       Regionname
Abbotsford   Northern Metropolitan             56     56
Aberfeldie   Western Metropolitan              44     44
Airport West Western Metropolitan              67     67
Albanvale    Western Metropolitan               6      6
Albert Park  Southern Metropolitan             69     69
...                                           ...    ...
Wonga Park   Eastern Victoria                   1      1
Wyndham Vale Western Metropolitan               4      4
Yallambie    Northern Metropolitan             24     24
Yarra Glen   Northern Victoria                  1      1
Yarraville   Western Metropolitan             164    164

[314 rows x 18 columns]
--------------------------------
Zbiór speed_dating.csv
Grupowanie po 'gender', 'field'
                                         has_null  wave  age  age_o  d_age  \
gender field
female 'American Studies'                       9     9    9      9      9
       'Applied Maths/Econs'                   16    16   16     16     16
       'Applied Physiology & Nutrition'        18    18   18     18     18
       'Art Education'                         21    21   21     21     21
       'Art History'                           21    21   21     21     21
...                                           ...   ...  ...    ...    ...
male   law                                     77    77   77     75     77
       math                                    16    16   16     16     16
       money                                   10    10   10     10     10
       philosophy                              10    10   10      9     10
       physics                                 21    21   21     21     21

                                         d_d_age  race  race_o  samerace  \
gender field
female 'American Studies'                      9     9       9         9
       'Applied Maths/Econs'                  16    16      16        16
       'Applied Physiology & Nutrition'       18    18      18        18
       'Art Education'                        21    21      21        21
       'Art History'                          21    21      21        21
...                                          ...   ...     ...       ...
male   law                                    77    77      75        77
       math                                   16    16      16        16
       money                                  10    10      10        10
       philosophy                             10    10       9        10
       physics                                21    21      21        21

                                         importance_same_race  ...  \
gender field                                                   ...
female 'American Studies'                                   9  ...
       'Applied Maths/Econs'                               16  ...
       'Applied Physiology & Nutrition'                    18  ...
       'Art Education'                                     21  ...
       'Art History'                                       21  ...
...                                                       ...  ...
male   law                                                 77  ...
       math                                                16  ...
       money                                               10  ...
       philosophy                                          10  ...
       physics                                             21  ...

                                         expected_num_matches  \
gender field
female 'American Studies'                                   9
       'Applied Maths/Econs'                               16
       'Applied Physiology & Nutrition'                    18
       'Art Education'                                     21
       'Art History'                                       21
...                                                       ...
male   law                                                 40
       math                                                16
       money                                                0
       philosophy                                          10
       physics                                             21

                                         d_expected_happy_with_sd_people  \
gender field
female 'American Studies'                                              9
       'Applied Maths/Econs'                                          16
       'Applied Physiology & Nutrition'                               18
       'Art Education'                                                21
       'Art History'                                                  21
...                                                                  ...
male   law                                                            77
       math                                                           16
       money                                                          10
       philosophy                                                     10
       physics                                                        21

                                         d_expected_num_interested_in_me  \
gender field
female 'American Studies'                                              9
       'Applied Maths/Econs'                                          16
       'Applied Physiology & Nutrition'                               18
       'Art Education'                                                21
       'Art History'                                                  21
...                                                                  ...
male   law                                                            77
       math                                                           16
       money                                                          10
       philosophy                                                     10
       physics                                                        21

                                         d_expected_num_matches  like  \
gender field
female 'American Studies'                                     9     9
       'Applied Maths/Econs'                                 16    16
       'Applied Physiology & Nutrition'                      18    18
       'Art Education'                                       21    21
       'Art History'                                         21    21
...                                                         ...   ...
male   law                                                   77    71
       math                                                  16    16
       money                                                 10    10
       philosophy                                            10    10
       physics                                               21    21

                                         guess_prob_liked  d_like  \
gender field
female 'American Studies'                               9       9
       'Applied Maths/Econs'                           16      16
       'Applied Physiology & Nutrition'                18      18
       'Art Education'                                 21      21
       'Art History'                                   21      21
...                                                   ...     ...
male   law                                             58      77
       math                                            16      16
       money                                           10      10
       philosophy                                      10      10
       physics                                         16      21

                                         d_guess_prob_liked  met  match
gender field
female 'American Studies'                                 9    3      9
       'Applied Maths/Econs'                             16   14     16
       'Applied Physiology & Nutrition'                  18   18     18